[pull]
	rebase = true
[rebase]
	autoStash = true
[merge "merge-structure-sql"]
	name = Rails structure.sql merge driver
	driver = tt-git-merge-structure-sql %A %O %B
[core]
	attributesfile = ~/.gitattributes
	editor = nvim
[user]
	email = me@mergul.com
	name = Mustafa Ergul
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
	default = simple
[color]
	ui = auto
[i18n]
	logOutputEncoding = utf-8
	commitEncoding = utf-8
[oh-my-zsh]
	hide-info = 1
	hide-status = 1
	hide-dirty = 1
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[init]
	defaultBranch = main
[diff]
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
