[pull]
	rebase = true
[rebase]
	autoStash = true
[merge "merge-structure-sql"]
	name = Rails structure.sql merge driver
	driver = tt-git-merge-structure-sql %A %O %B
[core]
	attributesfile = ~/.gitattributes
	editor = nvim
[user]
	name = Mustafa Ergül
	email = me@mergul.com
[push]
	useForceIfIncludes = true
